<style>
  .navbar-nav {
    --bs-nav-link-color: black;
    --bs-nav-link-hover-color: blueviolet;
  }
  .navbar-toggler {
    border: none;
    border-radius: 0;
    transition: var(--bs-navbar-toggler-transition);
}
</style>
<nav class="navbar navbar-expand-md bg-light bg-body-light border-bottom fixed-top" style="background-color: rgba(255,255,255,1);">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fas fa-plane" style="font-size:48px;"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link link-text"  href="/"><i class='fas fa-atlas'></i>&nbsp;Find Flights</a>
          <!-- <a class="nav-link text-dark"  href="/">Booking</a> -->
          <a class="nav-link link-text" href="/login"><i class='fas fa-suitcase'></i>&nbsp;My Trips</a>
          <a class="nav-link link-text" href="/listing/new"><i class='far fa-calendar-alt'></i>&nbsp;Flight Status</a>
          
        </div>
      </div>
    </div>
</nav><br><br>